<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div style="margin-top:200px;text-align: center;">
    <h1 class='elegantshadow'>JAVA IS AMAZING</h1>
</div>
<div class="content">
    <div class="content__container">
        <p class="content__container__text">
        Hello
        </p>
        
        <ul class="content__container__list">
        <li class="content__container__list__item">JAVA !</li>
        <li class="content__container__list__item">IN !</li>
        <li class="content__container__list__item">21 !</li>
        <li class="content__container__list__item">DAYS !</li>
        </ul>
    </div>
</div>
