.logo{    
    width:150px; 
    height:150px;    
    z-index: 5;
}
div img{
    width:100%; 
    height:100%; 
    background-repeat: no-repeat;
    z-index: 5;
    position: relative;    
}
.HeaderToolbar{
    margin-top:50px;
    background-color: black;
    
}
.DaysButton{
    background-color: black;
    color:white;
    font-weight: bolder;
    font-size: large;
    height:50px;
    width:200px;
    text-decoration: none;
    display:block;
    margin-top:20px;
}
.example-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* .contentNav{
    width: 70%;
} */