<mat-toolbar class="HeaderToolbar">
  <span>
    <div class="logo">
      <img src="../assets/images/logo.png" alt="Logo" />
    </div>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 1</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 2</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 3</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 4</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 5</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 6</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 7</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 8</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 9</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 10</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 11</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 12</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 13</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 14</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 15</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 16</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 17</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 18</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 19</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 20</button>
  </span>
  <span>
    <button mat-button class="DaysButton">Day 21</button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
