<div class="sideNav">
    <div class="content">
        <mat-list style="padding-top:60px">
            <mat-divider style="border-top-color:white;"></mat-divider>
            <mat-list-item><span style="color:white">Item 1</span></mat-list-item>
            <mat-divider style="border-top-color:white;"></mat-divider>
            <mat-list-item><span style="color:white">Item 2</span></mat-list-item>
            <mat-divider style="border-top-color:white;"></mat-divider>
            <mat-list-item><span style="color:white">Item 3</span></mat-list-item>
            <mat-divider style="border-top-color:white;"></mat-divider>
        </mat-list>
    </div>
</div>
